* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

button,
input {
  position: absolute;
  display: block;
  z-index: 99;
}

#addComment {
  margin-top: 30px;
}
#addImage {
  margin-top: 60px;
}
.label {
  color: #fff;
  font-family: sans-serif;
  padding: 2px;
  background: rgb(0, 0, 0);
}
